<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <title>Archivos Importados</title>
    {% load static %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'analizador/style/vista_pdf.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container py-5">
      <h2 class="text-center mb-4">📁 Archivos disponibles en media</h2>

      <input
        type="text"
        name="query"
        id="input-busqueda"
        class="form-control mb-3"
        placeholder="Buscar archivos..."
        hx-get="{% url 'filtrar_archivos_media' %}"
        hx-trigger="keyup changed delay:300ms"
        hx-target="#tabla-archivos"
        hx-swap="outerHTML"
      />

      <div class="d-flex justify-content-between mb-3">
        <button
          type="button"
          class="btn btn-outline-secondary"
          hx-get="{% url 'filtrar_archivos_media' %}"
          hx-target="#tabla-archivos"
          hx-swap="outerHTML"
          onclick="document.getElementById('input-busqueda').value = ''"
        >
          🗑️ Limpiar búsqueda
        </button>
      </div>
      {% comment %} Tabla htmx {% endcomment %}
      <div id="tabla-archivos">
        {% include "analizador/partials/tabla_archivos.html" %}
      </div>

      {% comment %} {% if archivos %}
      <div class="table-responsive">
        <table class="table table-bordered align-middle">
          <thead class="table-dark text-center">
            <tr>
              <th>Nombre del archivo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for a in archivos %}
            <tr>
              <td><span class="pdf-icon">📄</span> {{ a.nombre }}</td>
              <td class="text-center">
                <a
                  href="{% url 'vista_pdf' nombre_archivo=a.nombre %}"
                  class="btn btn-sm btn-primary"
                >
                  📄 Previsualizar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="alert alert-info text-center">
        No hay archivos PDF en media actualmente.
      </div>
      {% endif %} {% endcomment %}
    </div>

    {% include "analizador/components/footer.html" %}
  </body>
</html>
